{% extends 'base.html' %}
{% block body %}
<div class="content transparent">
    <h1>Can you face the truth?</h1> 
    <div class="button-container">
        <a href="/login" class="btn btn-lg btn-block btn-social btn-facebook">
            <i class="fa fa-facebook"></i> Sign in with Facebook
        </a>
    </div>
    <p>We'll analyze your posting patterns and alert you to your worst social media sins. Find out now, for your friends' sake!</p>
</div>
<script>
$('.transparent').blurjs({
    source: 'body',
    radius: 10,
    overlay: 'rgba(255,255,255,0.45)'
});
</script>
{% endblock %}
